<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
    <select id="getBoardLists" resultMap="boardMap">
        SELECT
        TB_BOARD.BOARD_ID AS BOARD_ID
         ,TB_BOARD.BOARD_TITLE AS BOARD_TITLE
         ,TB_BOARD.BOARD_CONTENT AS BOARD_CONTENT
         ,TB_BOARD.BOARD_HIT AS BOARD_HIT

         ,TB_BOARD.CREATED_DATE AS CREATED_DATE
         ,TB_BOARD.MODIFIY_DATE AS MODIFIY_DATE

         ,TB_BOARD.USER_ID AS USER_ID
         ,TB_BOARD.USER_NM AS USER_NM
         ,TB_BOARD.USER_EMAIL AS USER_EMAIL

         ,TB_BOARD.B_MAIN_CATE_ID AS B_MAIN_CATE_ID
         ,TB_BOARD.B_MID_CATE_ID AS B_MID_CATE_ID
        FROM TB_BOARD order by TB_BOARD.CREATED_DATE
    </select>



    <resultMap id="boardMap" type="HAZAGroup.HAZACommunity.rest.board.model.BoardVo">
        <id property="board_id" column="BOARD_ID"/>
        <result property="title" column="BOARD_TITLE" />
        <result property="content" column="BOARD_CONTENT" />
        <result property="hit" column="BOARD_HIT" />
        <result property="created_date" column="CREATED_DATE" />
        <result property="modified_date" column="MODIFIY_DATE" />

        <result property="user_id" column="USER_ID"/>
        <result property="user_name" column="USER_NM" />
        <result property="user_email" column="USER_EMAIL" />

        <result property="main_Category_Id" column="B_MAIN_CATE_ID" />
        <result property="mid_Category_Id" column="B_MID_CATE_ID" />
    </resultMap>

</mapper>
