<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="board">
    <!-- 보드 전체 리스트 불러오기 -->
    <select id="getBoardLists" resultMap="boardMap">
        SELECT
        TB_BOARD.BOARD_ID AS BOARD_ID
         ,TB_BOARD.BOARD_TITLE AS BOARD_TITLE
         ,TB_BOARD.BOARD_CONTENT AS BOARD_CONTENT
         ,TB_BOARD.BOARD_HIT AS BOARD_HIT

         ,TB_BOARD.CREATED_DATE AS CREATED_DATE
         ,TB_BOARD.MODIFIED_DATE AS MODIFIED_DATE

         ,TB_BOARD.USER_ID AS USER_ID
         ,TB_BOARD.USER_NM AS USER_NM
         ,TB_BOARD.USER_EMAIL AS USER_EMAIL

         ,TB_BOARD.B_MAIN_CATE_ID AS B_MAIN_CATE_ID
         ,TB_BOARD.B_MID_CATE_ID AS B_MID_CATE_ID
        FROM TB_BOARD order by TB_BOARD.CREATED_DATE;
    </select>
    <!-- 메인카테고리 id를 통한 특정 보드 리스트들 불러오기 -->
    <select id ="getSpecificMainCategoryBoardLists" resultMap ="boardSpecificMap" parameterType="int">
        SELECT
            TB_BOARD.BOARD_ID AS BOARD_ID
             ,TB_BOARD.BOARD_TITLE AS BOARD_TITLE
             ,TB_BOARD.BOARD_CONTENT AS BOARD_CONTENT
             ,TB_BOARD.BOARD_HIT AS BOARD_HIT

             ,TB_BOARD.CREATED_DATE AS CREATED_DATE
             ,TB_BOARD.MODIFIED_DATE AS MODIFIED_DATE

             ,TB_BOARD.USER_ID AS USER_ID
             ,TB_BOARD.USER_NM AS USER_NM
             ,TB_BOARD.USER_EMAIL AS USER_EMAIL

             ,TB_BOARD.B_MAIN_CATE_ID AS B_MAIN_CATE_ID
             ,TB_BOARD.B_MID_CATE_ID AS B_MID_CATE_ID
        FROM TB_BOARD where B_MAIN_CATE_ID = #{main_Category_Id};

    </select>

    <!--id를 통한 특정 보드 리스트 불러오기 -->
    <select id="getSpecificBoardLists" resultMap="boardSpecificMap" parameterType="int">
        SELECT
            TB_BOARD.BOARD_ID AS BOARD_ID
             ,TB_BOARD.BOARD_TITLE AS BOARD_TITLE
             ,TB_BOARD.BOARD_CONTENT AS BOARD_CONTENT
             ,TB_BOARD.BOARD_HIT AS BOARD_HIT

             ,TB_BOARD.CREATED_DATE AS CREATED_DATE
             ,TB_BOARD.MODIFIED_DATE AS MODIFIED_DATE

             ,TB_BOARD.USER_ID AS USER_ID
             ,TB_BOARD.USER_NM AS USER_NM
             ,TB_BOARD.USER_EMAIL AS USER_EMAIL

             ,TB_BOARD.B_MAIN_CATE_ID AS B_MAIN_CATE_ID
             ,TB_BOARD.B_MID_CATE_ID AS B_MID_CATE_ID
        FROM TB_BOARD where BOARD_ID = #{id};
    </select>
    <!--보드 삭제 -->
    <delete id="getDeleteBoard">
        DELETE FROM TB_BOARD
            WHERE BOARD_ID = #{id};
    </delete>
    <!-- 보드 생성 는 나중에 넣을지 생각 -->
    <insert id="getCreateBoard" useGeneratedKeys="true" keyProperty = "id">
        INSERT INTO TB_BOARD
        VALUES (#{id} , #{title},#{content}, #{hit},#{created_date},#{modified_date},#{user_id},#{user_name},#{user_email},#{b_mid_cate_id},#{b_main_cate_id});
    </insert>

    <!-- 보드 수정 -->
    <update id="modifyBoardList">
        update TB_BOARD
            set BOARD_TITLE = {}
    </update>

    <!--보드 내용 변경들 update 대신 post 로 하는 편이 더 나을듯 -->

    <resultMap id="boardMap" type="HAZAGroup.HAZACommunity.rest.board.model.BoardVo">
        <id property="board_id" column="BOARD_ID"/>
        <result property="title" column="BOARD_TITLE" />
        <result property="content" column="BOARD_CONTENT" />
        <result property="hit" column="BOARD_HIT" />
        <result property="created_date" column="CREATED_DATE" />
        <result property="modified_date" column="MODIFIED_DATE" />
        <result property="user_id" column="USER_ID"/>
        <result property="user_name" column="USER_NM" />
        <result property="user_email" column="USER_EMAIL" />
        <result property="main_category_id" column="B_MAIN_CATE_ID" />
        <result property="mid_category_id" column="B_MID_CATE_ID" />
    </resultMap>

    <resultMap id="boardSpecificMap" type="HAZAGroup.HAZACommunity.rest.board.model.BoardVo">
        <id property="board_id" column="BOARD_ID"/>
        <result property="title" column="BOARD_TITLE" />
        <result property="content" column="BOARD_CONTENT" />
        <result property="hit" column="BOARD_HIT" />
        <result property="created_date" column="CREATED_DATE" />
        <result property="modified_date" column="MODIFIED_DATE" />
        <result property="user_id" column="USER_ID"/>
        <result property="user_name" column="USER_NM" />
        <result property="user_email" column="USER_EMAIL" />
        <result property="main_category_id" column="B_MAIN_CATE_ID" />
        <result property="mid_category_id" column="B_MID_CATE_ID" />
    </resultMap>

</mapper>
