<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="category">

    <select id="getAllMainCategoryLists" resultMap="AllMainCategoryMap">
    select TB_BOARD_MAINCATEGORY.MAIN_CATE_NAME AS MAIN_CATE_NAME,
           TB_BOARD_MAINCATEGORY.B_MAIN_CATE_ID AS B_MAIN_CATE_ID
            from TB_BOARD_MAINCATEGORY;

    </select>

    <select id="getAllMidCategoryLists" resultMap="AllMidCategoryMap" >
        select TB_BOARD_MIDCATEGORY.B_MID_CATE_ID AS B_MID_CATE_ID,
               TB_BOARD_MIDCATEGORY.MID_CATE_NAME AS MID_CATE_NAME,
               TB_BOARD_MIDCATEGORY.B_MAIN_CATE_ID AS B_MAIN_CATE_ID
               from TB_BOARD_MIDCATEGORY;

    </select>

    <select id="getMainCategoryLists" resultMap="MainCategoryMap" parameterType="HashMap" >
        select MAIN_CATE_NAME, B_MAIN_CATE_ID
        from TB_BOARD_MAINCATEGORY
        where  MAIN_CATE_NAME = #{main} Group by B_MAIN_CATE_ID
    </select>

    <select id="getMidCategoryLists" resultMap="MidCategoryMap" parameterType="HashMap">
        select b.B_MAIN_CATE_ID,a.B_MID_CATE_ID,a.MID_CATE_NAME
        from  TB_BOARD_MAINCATEGORY b ,TB_BOARD_MIDCATEGORY a
        where b.B_MAIN_CATE_ID = #{mainCategoryId} and a.B_MID_CATE_ID = #{midCategoryId}
    </select>

    <resultMap id="AllMainCategoryMap" type="HAZAGroup.HAZACommunity.rest.board.model.GenreMainCategoryVo">
        <id property="mainCategoryId" column="B_MAIN_CATE_ID"/>
        <result property="name" column="MAIN_CATE_NAME"/>
    </resultMap>

    <resultMap id="AllMidCategoryMap" type="HAZAGroup.HAZACommunity.rest.board.model.GenreMidCategoryVo">
        <id property="midCategoryId" column="B_MID_CATE_ID"/>
        <result property="parentCategoryId" column="B_MAIN_CATE_ID"/>
        <result property="name" column="MID_CATE_NAME"/>
    </resultMap>

    <resultMap id="MainCategoryMap" type="HAZAGroup.HAZACommunity.rest.board.model.GenreMainCategoryVo">
        <id property="mainCategoryId" column="B_MAIN_CATE_ID"/>
        <result property="name" column="MAIN_CATE_NAME"/>
    </resultMap>

    <!--여기 고쳐야 한다. Mapped Statements collection does not contain value for category.getMidCategoryLists -->
    <resultMap id="MidCategoryMap" type="HAZAGroup.HAZACommunity.rest.board.model.GenreMidCategoryVo">
        <id property="midCategoryId" column="B_MID_CATE_ID"/>
        <result property="parentCategoryId" column="B_MAIN_CATE_ID"/>
        <result property="name" column="MID_CATE_NAME"/>

    </resultMap>


</mapper>
