<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user">
    <select id="getAllUserLists" resultMap="userMap">
        SELECT
         TB_USER.USER_ID AS USER_ID
             ,TB_USER.USER_NM AS USER_NM
             ,TB_USER.USER_EMAIL AS USER_EMAIL
             ,TB_USER.USER_ROLE as USER_ROLE
        FROM TB_USER;
    </select>

    <select id="getUserToEmail" parameterType="String" resultMap="userMap">
        SELECT TU.USER_ID AS USER_ID
        ,TU.USER_NM AS USER_NM
        ,TU.USER_EMAIL AS USER_EMAIL
        ,TU.USER_ROLE AS USER_ROLE
        FROM TB_USER TU WHERE TU.USER_EMAIL = #{user_email}
    </select>

    <resultMap id="userMap" type="HAZAGroup.HAZACommunity.rest.board.model.UserVo">
        <result property="id" column="USER_ID"/>
        <result property="email" column="USER_EMAIL"/>
        <result property="name" column="USER_NM"/>
        <result property="roleType" column="USER_ROLE"/>
    </resultMap>
</mapper>